{% extends 'admin/base.html.twig' %}

{% block body %}
   <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Nom</th>             
                    <th class="product-name">Prénom</th>
                    <th class="product-name">email</th>
                    <th class="product-adresse">adresse</th>
                    <th class="product-telephone">pays</th>
                    <th class="product-telephone">tel</th>

                    <th class="product-remove">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in user %}


                  <tr>
                  
                    <td class="product-name">
                      <h2 class="h5 text-black">{{user.user.nom}}</h2>
                    </td>

                    <td>
                     <h2 class="h5 text-black"> {{user.user.prenom}}</h2>
                    </td>
                    <td> {{user.user.email}}</td>  
             
                    <td>{{user.adresse}}</td>
                    
                    <td>{{user.pays}}</td>

                    <td>{{user.tel}} </td>  

                    <td><a href="{{ path('listclient_admin_remove',{'id':user.user.id})}}" class="btn btn-primary height-auto btn-sm">X</a></td>
                  </tr>
               
                  {% endfor %}

                   
                   
                </tbody>
              </table>
            </div>
          </form>
        </div>
    

    
{% endblock %}

    {% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"> </script>
      {% endblock %}