{% extends 'admin/base.html.twig' %}
{% block title %}Clients{% endblock %}
{% block body %}
 
   <div class="site-section">
      <div class="container">
      {% for message in app.flashes('success') %}
  <center>  <div class="alert alert-success alert-dismissible fade show" role="success">
        {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </div></center>
        {% endfor %}
         {% for message in app.flashes('alert') %}
    <center><div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
        </div></center>
        {% endfor %}
      <a href="{{path('list_reclamation_client')}}"> <button type="button" class="btn btn-info">
         Reclamations <span class="badge badge-light">{{totalreclamationsclient}}</span>
        </button></a><br><br>
        <div class="alert alert-dark" role="alert">
            <center>   <a  class="alert-link"> {{ totalclients }}</a> clients inscrits </center>
        </div>
          <form method="POST">
          <div class="row mb-4">
            <div class="form-group col-md-9">
              <input id="exampleFormControlInput5" name="email"  placeholder="What're you searching for?"  class="form-control form-control-underlined" type="email" required  >
            </div>
            <div class="form-group col-md-3">
              <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
            </div>
          </div>
        </form>
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Nom</th>             
                    <th class="product-prenom">Prénom</th>
                    <th class="product-email">email</th>
                    <th class="product-adresse">adresse</th>
                    <th class="product-adresse">ville</th>

                    <th class="product-telephone">tel</th>

                    <th class="product-remove">Actions</th>
                    <th class="product-remove">Statut</th>

                  </tr>
                </thead>
                <tbody>
                {% for user in page %}


                  <tr>
                  
                    <td>
                      {{user.nom}}
                    </td>

                    <td>
                     {{user.prenom}}
                    </td>
                    <td> {{user.email}}</td>  
             
                    <td>{{user.client.adresse}}</td>
                    
                    <td>{{user.client.ville}}</td>

                    <td>{{user.client.tel}} </td>  

                    <td><a href="{{ path('listclient_admin_remove',{'id':user.id})}}" class="icons8-poubelle" onclick="return confirm('Tu es sure de vouloir supprimer ce client ?')"></a>
                        <a href="{{ path('listclient_admin_activer',{'id':user.id})}}" class="icons8-coche" onclick="return confirm('Tu es sure de vouloir activer le compte ce client ?')"></a>
                        <a href="{{ path('listclient_admin_desactiver', {'id':user.id})}}" class="icons8-effacer" onclick="return confirm('Tu es sure de vouloir desactiver le code de ce client ?')"></a>
                    </td>
                    <td>{{user.statut}} </td>  

                  </tr>

               
                  {% endfor %}                 
                   
                </tbody>
              </table>
            </div>
            <div class:"navigation">
              {{ knp_pagination_render(page)}}
              </div>
          </form>
        </div>
    

    
{% endblock %}

    {% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"> </script>
      {% endblock %}