{% extends 'client/base.html.twig' %}

{% block title %}Paiement{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<script>
  if(idd=='guest') window.location.href='/login'
</script>

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
           
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Détails de la facturation</h2>
            <div class="p-3 p-lg-5 border">
            
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">Prénom<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname" value="{{app.user.prenom}}">
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Nom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname"  value="{{app.user.nom}}">
                </div>
              </div>
    
              
    
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Addresse <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                </div>
                
              </div>

    
             
    
          
    
              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Tel <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                </div>
                <div class="col-md-6">
                  <label for="c_diff_address" class="text-black">Ville <span class="text-danger">*</span></label>
                  <select class="form-control" id="c_ville" name="c_ville">
                    {% for ville in villes %}
                    <option value='{{ville}}'>{{ville}}</option>
                    {% endfor %}
                  </select>
              </div>
    
            
    
    
              <div class="form-group">
                
                <div class="collapse" id="ship_different_address">
                  <div class="py-2">

                    </div>

                  </div>
    
                </div>
              </div>
    
              
    
            </div>
          </div>
          <div class="col-md-6">
    
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Votre commande</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Produits</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                        {% for key ,item in items %}
                           
                            {% if items|length == key+1 %}
                            <tr>
                                <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                <td class="text-black">{{item.total}} DHs</td>
                              </tr>   

                            {% else %}
                            <tr>
                                <td>{{item.prod_name}} <strong class="mx-2">x</strong> {{item.qt}}</td>
                                <td>{{item.price *item.qt}} DHs</td>
                              </tr>
                                    
                            {% endif %}
                     


                        {% endfor %}
                  
                  
                      
                    </tbody>
                  </table>
    <!--     <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                        aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>
    
                    <div class="collapse" id="collapsebank">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                        aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>
    
                    <div class="collapse" id="collapsecheque">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="border mb-5">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                        aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
    
                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
                -->
    
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" id='place'>Commander</button>
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <script>

    function placeOrder()
    {  
        let client_infos=[document.getElementById('c_fname'),document.getElementById('c_lname'),document.getElementById('c_address'),document.getElementById('c_ville'),document.getElementById('c_phone')]
        if(!client_infos.some(x=>''==x.value.replace(/ */g,''))){
          
           if(!/^(0[5|6|7])[0-9]{8}$/.test(client_infos[client_infos.length-1].value)){ alert('numero de telephone invalide');return;}
           let order_details=JSON.parse('{{items|json_encode()|raw}}')
           let commande= {"commande":client_infos.map(function(x){ 
             let c={}
             c[x.id.split('_')[1]]=x.value
             return c
            })}
            commande.commande.push({id:idd})
           let details_commande={'details':order_details}; 
           // let commande=[client_infos.map(x=>x.value),order_details]
              //console.log(commande)
           axios.post('{{path("validateOrder")}}',{infos:[commande,details_commande]}).then((response)=>{ if(response.data==1){
             let storage=JSON.parse(localStorage.getItem("my_cart_infos"));
            let index=storage.map(x=>x.id).indexOf(idd);
            storage.splice(index,1);
            localStorage.setItem("my_cart_infos",JSON.stringify(storage));
             window.location.href='/thankyou' }})
      

        }
        else{
          alert('veuillez remplir tous les champs')
          return ;
        }



    }


      let place_order=document.getElementById('place').addEventListener('click',placeOrder)


    </script>
{% endblock %}



