{% extends 'client/base.html.twig' %}
{% block title %}Mes commandes{% endblock %}
{% block body %}
<div class="site-section">
    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr class="table-active">
                    <td class="text-muted">Description</td>
                    <td class="text-muted">Prix Unitaire</td>
                    <td class="text-muted">Status</td>
                    <td class="text-muted">Prix total</td>
                </tr>  
            </thead>  
            <tbody>   
            {% for commande in page %}
                <tr>
                    <td colspan="4"><strong>No commande: {{ commande.id }}</strong> <span style="color:#999">{{ commande.date | date('d/m/Y') }}</span></td>
                </tr>
            </tbody>    
            <tbody>   
            {% for d in commande.produits %}     
                <tr>
                    <td>
                        <img src={{ asset('images/' ~ d.produit.image) }} alt="Image" style="width: 120px;">
                        <div class="d-inline-block">
                        <div>{{ d.produit.nom }}</div>
                        <span style="color:#999">QTE</span> {{ d.quantite }}
                        <div>Parapharmacie: {{ d.produit.proprietaire.nompharmacie }}</div>
                        </div>
                    </td>
                                        
                    <td><strong>{{ (d.produit.prixtva + d.produit.prixht) * d.quantite }} Dhs</strong></td>
                    {% if loop.first %}
                    <td rowspan={{commande.produits|length}}>
                        
                    </td>
                    {% endif %}
                    {% if loop.first %}
                    <td rowspan={{commande.produits|length}}>
                        {% for nbr in prixTotal %}
                            {% if d.commande.id == nbr.c_id %}
                                <strong class="text-danger">{{nbr.x}} Dhs</strong>
                            {% endif %}    
                        {% endfor %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <div class:"navigation">
            {{ knp_pagination_render(page)}}
        </div> 
    </div>
</div>
{% endblock %}