{% extends 'client/base.html.twig' %}

{% block title %}{{pagetitle}}{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

        <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
              href="shop.html">Store</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{produit.nom}}</strong></div>
        </div>
      </div>
    </div>
  
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mr-auto">
            <div class="border text-center">
                <img src="{{asset('images/'~produit.image)}}" alt="Image" style="max-height:250px">

            </div>
          </div>

           
     
          <div class="col-md-6">
            <h2 class="text-black">{{produit.nom}}</h2>
            <p>Description : {{produit.description}}</p>
             en Stock :{{produit.quantite}}
            <br/>
            ParaPharmacie:<b>  <a href="{{ path('profile', {'id':produit.proprietaire.id})}}">{{produit.proprietaire.nomPharmacie}} </a></b>
            

            <p><strong class="text-primary h4">{{produit.prixtva}} </strong> <strong class="text-primary h6">DH ttc</strong></p>

            
            
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 220px;">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                </div>
                <input id='qt' type="text" class="form-control text-center" value="1" placeholder=""
                  aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                </div>
              </div>
    
            </div>
            <p><a id ="addprod" href="" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p>

            <div class="mt-5">
              <ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Ordering Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Specifications</a>
                </li>
            
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <table class="table custom-table">
                    <thead>
                      <th>Material</th>
                      <th>Description</th>
                      <th>Packaging</th>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">OTC022401</th>
                        <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                        <td>1 BT</td>
                      </tr>
                      <tr>
                        <th scope="row">OTC022401</th>
                        <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                        <td>144/CS</td>
                      </tr>
                      <tr>
                        <th scope="row">OTC022401</th>
                        <td>Pain Management: Acetaminophen PM Extra-Strength Caplets, 500 mg, 100/Bottle</td>
                        <td>1 EA</td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            
                  <table class="table custom-table">
            
                    <tbody>
                      <tr>
                        <td>HPIS CODE</td>
                        <td class="bg-light">999_200_40_0</td>
                      </tr>
                      <tr>
                        <td>HEALTHCARE PROVIDERS ONLY</td>
                        <td class="bg-light">No</td>
                      </tr>
                      <tr>
                        <td>LATEX FREE</td>
                        <td class="bg-light">Yes, No</td>
                      </tr>
                      <tr>
                        <td>MEDICATION ROUTE</td>
                        <td class="bg-light">Topical</td>
                      </tr>
                    </tbody>
                  </table>
            
                </div>
            
              </div>
            </div>

    
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-secondary bg-image" style="background-image: url('images/bg_2.jpg');">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_1.jpg');">
              <div class="banner-1-inner align-self-center">
                <h2>Pharma Products</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('images/bg_2.jpg');">
              <div class="banner-1-inner ml-auto  align-self-center">
                <h2>Rated by Experts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ex ad minus rem odio voluptatem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  <script>
  function QuantityIncr()
  {
    //console.log(this)
   let tmp=document.getElementById('qt')
   //console.log(tmp)
   if(this.className.includes('minus')) {if(tmp.value==1)return
                                    tmp.value--
                                    }
   else tmp.value++
  
  }
  let buttons=[...document.getElementsByClassName("btn btn-outline-primary js-btn-minus"),...document.getElementsByClassName("btn btn-outline-primary js-btn-plus")]
  buttons.forEach((button)=>button.addEventListener('click',QuantityIncr))

document.getElementById('addprod').addEventListener('click',(e)=>{
            e.preventDefault()
            let qtt=Math.min( (Number(document.getElementById('qt').value)|| 1) , Number('{{produit.quantite}}'));
            console.log(qtt)
            let storage=localStorage.getItem("my_cart_infos");
            let storage_data={prod_name:'{{produit.nom}}',prop:'{{produit.proprietaire.id}}',price:'{{produit.prixtva}}',image:"{{asset('images/'~produit.image)}}",id:'{{produit.id}}',qt:qtt,stock:'{{produit.quantite}}'};
  
   let items_table=(!storage)?[]:JSON.parse(storage);
     console.log(idd);
   if( items_table.map(x=>x.id).indexOf(idd)==-1)
   {  
     
	  items_table.push({id:idd,items:[storage_data]    });
   
   }
   else{
     let index=items_table.map(x=>x.id).indexOf(idd);
	 if( items_table[index].items.map(x=>x.id).indexOf('{{produit.id}}')==-1 )
     items_table[index].items.push(storage_data);
	 else items_table[index].items[items_table[index].items.map(x=>x.id).indexOf('{{produit.id}}')].qt=Math.min(qtt*1+items_table[index].items[items_table[index].items.map(x=>x.id).indexOf('{{produit.id}}')].qt*1,Number('{{produit.quantite}}'));

   }

   localStorage.setItem("my_cart_infos", JSON.stringify(items_table));
   if(storage && JSON.parse(storage).filter( x=>x.id==idd).length )
   {cart.childNodes[3].innerHTML=JSON.parse(storage).filter( x=>x.id==idd).map(y=>y.items)[0].reduce(function(acc,v){return {qt:acc.qt*1 +v.qt*1}}).qt +qtt*1}
   else
   {cart.childNodes[3].innerHTML=cart.childNodes[3].innerHTML*1+qtt*1;}
   alert(" le produit '{{produit.nom}}' est ajouté dans votre panier");

        




});
[...document.getElementsByClassName('form-control text-center')].forEach((text)=> text.addEventListener('input',function(){if(!Number(this.value)){this.value=1}}
                                                                                                                               ))


  </script>
  

  

{% endblock %}