{% extends 'client/base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}



<div class="site-section" >
      {{render(controller('App\\Controller\\ClientController::Search'))}}
      <div class="container">
        
     
    
        <div class="row">
        {% for prod in products %}

            <div class="col-sm-6 col-lg-4 text-center item mb-4" id="item-{{prod.id}}" >
             <img src="{{asset('images/'~prod.image)}}" alt="Image" class="cart-item" style="max-height:150px">
            <h3 class="text-dark" id="{{prod.id}}">{{prod.nom}}</a></h3>
		 	<a href="#"> Details </a> 
            <p class="price" data-price="{{prod.prixtva}}">{{prod.prixtva}} DH ttc</p>
          </div>


         {% endfor %}
         
        
         
    
          
        </div>
       
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
        {% set currentPage= (current)?current:1 %}
                <li><a href=" {{(currentPage>1 )?path('shop',{'page':currentPage-1}):'#'}} ">&lt;</a></li>
               {% for i in 1..totalPages %}
                   <li {{(i==currentPage)? 'class="active"':""}}><a href="{{path('shop',{'page':i})}}"> {{i}}</a></li>
                 {% endfor %}

                <li><a href=" {{(currentPage< totalPages)?path('shop',{'page':currentPage+1}):'#'}} ">&gt;</a></li>
              </ul>
             
            </div>
          </div>
        </div>
      </div>
    </div>




<script>
  console.log(idd);
	   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//   console.log(JSON.parse(localStorage.getItem("my_cart_infos")).filter( x=>x.id==idd).map(y=>y.items)[0].reduce(function(acc,v){return {qt:acc.qt+v.qt}}).qt);
  var addtoCart=function(){
  let storage=localStorage.getItem("my_cart_infos");
   let parent=this.parentElement.getAttribute("id");
   let data=document.getElementById(parent);
   let prodName;
   let prodId;
   let prodPrice;
   let prodImage;
    for (let i = 0; i < data.children.length; i++) {
    switch (data.children[i].tagName)
	{
	  case 'H3':
	  prodName=data.children[i].innerHTML;
	  prodId=data.children[i].id;
	  break;
	  case 'IMG':
	  prodImage= data.children[i].src;
	  break;
	  case 'P':
	  prodPrice= data.children[i].dataset.price;
	  break;
	
	}
	}
   let storage_data={prod_name:prodName,price:prodPrice,image:prodImage,id:prodId,qt:1};
   let items_table=(!storage)?[]:JSON.parse(storage);
     console.log(idd);
   if( items_table.map(x=>x.id).indexOf(idd)==-1)
   {  
     
	  items_table.push({id:idd,items:[storage_data]    });
   
   }
   else{
     let index=items_table.map(x=>x.id).indexOf(idd);
	 if( items_table[index].items.map(x=>x.id).indexOf(prodId)==-1 )
     items_table[index].items.push(storage_data);
	 else items_table[index].items[items_table[index].items.map(x=>x.id).indexOf(prodId)].qt++;
 
   }

   localStorage.setItem("my_cart_infos", JSON.stringify(items_table));
   alert(" product  has been added to your cart!!");
   
   //CartProdNumber();//update product numbers in the cart
   let cart=document.getElementById("my-cart");
   cart.childNodes[3].innerHTML=  cart.childNodes[3].innerHTML*1+1;
  
  }
  Array.from(document.getElementsByClassName("cart-item")).forEach( function(item){   item.addEventListener("click",addtoCart)     }  )
  //////////////// Add an item to the cart ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////
  
  </script>



{% endblock %}