<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">
        <script src="https://use.fontawesome.com/80640ba15b.js"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">


        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
    <div class="site-wrap">
        {% block header %}
            <div class="site-navbar py-2">

                <div class="search-wrap">
                  <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                        <form action="#" method="post">
                          <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                        </form>
                  </div>
                </div>

                <div class="container">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                      <div class="site-logo">
                        <a href="{{ path('home_proprietaire') }}">  <img src="{{asset('images/logosite.png')}}" alt="" style="max-height:50px"/></a>
                      </div>
                    </div>

                    <div class="main-nav d-none d-lg-block">
                      <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                          <li class="{{ (app.request.get('_route') == 'stock_proprietaire' or app.request.get('_route') == 'produit_edit' 
                          or app.request.get('_route') == 'produit_show') ? 'active' : '' }}"><a href="{{ path('stock_proprietaire') }}" class="hyper">Stock</a></li>
                          <li class="{{ (app.request.get('_route') == 'commande_proprietaire') ? 'active' : '' }}"><a href="{{ path('commande_proprietaire') }}" class="hyper">Commande</a></li>
                          <li class="{{ (app.request.get('_route') == 'vente_proprietaire') ? 'active' : '' }}"><a href="{{ path('vente_proprietaire') }}" class="hyper">Vente</a></li>
                         {% if app.user %}
                          <li class="{{ (app.request.get('_route') == 'contactprop') ? 'active' : '' }}"><a href="{{path('contactprop')}}" class="hyper">Contact</a></li>
                        {% endif %}
                        </ul>
                      </nav>
                    </div>
                    <div class="site-navigation">
                      
                        <ul class="site-menu">
                          <li><a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a><li>          
                          <li><a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                              class="icon-menu"></span>
                          </a></li>
        
                          <li class="has-children">
                              <a href="#">{{app.user.proprietaire.nomPharmacie}}</a>
                              <ul class="dropdown">
                                <li>
                                    <a href="{{ path('compte_proprietaire') }}">Paramètres</a>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                              </ul>
                          </li> 
                        </ul>
                         
                    </div>
                  </div>
                </div>
            </div>
            {% block nav %}
            <div class="bg-light py-3">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 mb-0">
                    <a href="{{ path('home_proprietaire') }}">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">{{pagetitle}}</strong>
                  </div>
                </div>
              </div>
            </div>
            {% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="site-footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                    <div class="block-7">
                      <h3 class="footer-heading mb-4">A propos de nous</h3>
                      <p>Le site web ParaClic est fait pour faciliter l'achat des médicament ou les produit médicaux, dont lequel par un seul clic vous pouvez achetez ce que vous voulez </p>
                    </div>

                  </div>
                  <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Quick Links</h3>
                    <ul class="list-unstyled">
                      <li><a href="#">Supplements</a></li>
                      <li><a href="#">Vitamins</a></li>
                      <li><a href="#">Diet &amp; Nutrition</a></li>
                      <li><a href="#">Tea &amp; Coffee</a></li>
                    </ul>
                  </div>

                  <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                      <h3 class="footer-heading mb-4">Contact Info</h3>
                      <ul class="list-unstyled">
                        <li class="address">Lot chabab, Bd ALMAQDIS et rue ALISSRAE N°7 Hay El Qods, Oujda, MAROC</li>
                        <li class="phone"><a>06 94 84 77 10</a></li>
                        <li class="email">paraclic@gmail.com</li>
                      </ul>
                    </div>


                  </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                  <div class="col-md-12">
                    <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                      with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                        class="text-primary">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>

                </div>
              </div>
            </footer>
        {% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/aos.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>