{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
    <div class="container">
        
        <table class="table">
        {% for commande in page %}
            <thead>
                <tr class="table-active">
                    <td colspan="5"><strong>Email client :</strong>{{ commande.client.user.email }}
                     <strong>Nom complet: </strong>{{ commande.client.user.nom }} {{ commande.client.user.prenom }}</td>
                </tr>
                <tr>
                    <td colspan="5"><strong>No commande: {{ commande.id }}</strong> <span class="text-muted">{{ commande.date | date('d/m/Y') }}</span></td>
                </tr>
            </thead>
            {% for d in commande.produits %}
            <tbody>   
                <tr>
                    <td>
                        <img src={{ asset('images/' ~ d.produit.image) }} alt="Image" style="width: 120px;">
                    </td>
                    <td>{{ d.produit.nom }}</td>
                    <td><span class="text-muted">QTE</span> {{ d.quantite }}</td>
                    <td><strong>{{ (d.produit.prixtva + d.produit.prixht) * d.quantite }} Dhs</strong></td>
                    <td>
                        <a href="#" class="btn btn-outline-primary btn-sm d-block mb-2" style="width: 100px">Livrer</a>
                        <a href="#" class="btn btn-outline-info btn-sm d-block" style="width: 100px">Terminer</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        {% endfor %}
        </table>
        <div class:"navigation">
            {{ knp_pagination_render(page)}}
        </div> 
    </div>
</div>
{% endblock %}