{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
    <div class="container">
        {% for message in app.flashes('success') %}
    <center><div class="alert alert-success alert-dismissible fade show" role="success">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </div></center>
        {% endfor %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Numero</td>
                    <td>Image</td>
                    <td>Nom</td>
                    <td>Quantité</td>
                    <td>Prix</td>
                    <td>Nom Client</td>
                    <td>Email Client</td>
                    <td>Date</td>
                    <td>Action</td>
                    <td>Status</td>
                </tr>  
            </thead>
        {% for commande in page %}
            {% for d in commande.produits %}
            <tbody>   
                <tr>
                <td>{{ commande.id }}</td>
                    <td>
                        <img src={{ asset('images/' ~ d.produit.image) }} alt="Image" style="width: 120px;">
                    </td>
                    <td>{{ d.produit.nom }}</td>
                    <td><span class="text-muted">QTE</span> {{ d.quantite }}</td>
                    <td><strong>{{ (d.produit.prixtva + d.produit.prixht) * d.quantite }} Dhs</strong></td>
                    <td>{{ commande.client.user.nom }} {{ commande.client.user.prenom }}</td>
                    <td>{{ commande.client.user.email }}</td>
                    <td>{{ commande.date | date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('commande_proprietaire_livré',{'id':d.id})}}" class="btn btn-outline-primary btn-sm d-block mb-2" style="width: 100px" onclick="return confirm('Tu es sure que cette commande est livré ?')">Livrer</a>
                        <a href="{{ path('commande_proprietaire_encours',{'id':d.id})}}" class="btn btn-outline-info btn-sm d-block mb-2" style="width: 100px" onclick="return confirm('Tu es sure que cette commande est en cours de livraison ?')">En cours</a>
                        <a href="{{ path('commande_proprietaire_annuler',{'id':d.id})}}" class="btn btn-outline-warning btn-sm d-block mb-2" style="width: 100px" onclick="return confirm('Tu es sure de vouloir annuler cette livraison ?')">Annuler</a>
                        <a href="{{ path('commande_proprietaire_supp',{'id':d.id})}}" class="btn btn-outline-danger btn-sm d-block" style="width: 100px" onclick="return confirm('Tu es sure de vouloir supprimer cette ?')">Supprimer</a>
                    </td>
                    <td>
                        {% if d.livraison == "encours" %}
                            En cours
                        {% else %} 
                            N'est pas envoyé  
                        {% endif %}    
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        {% endfor %}
        </table>
        <div class:"navigation">
            {{ knp_pagination_render(page)}}
        </div> 
    </div>
</div>
{% endblock %}