{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
      <div class="container">
{% for message in app.flashes('notice') %}
              <div class="flash-notice">
                 {{ message }}
              </div>
              {% endfor %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#info">Information Personnelles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#pwd">Changer le mot de passe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#pharmacie">Information de pharmacie</a>
              </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="info">
              {{ form_start(formInfoPerso) }}
              {{form_row(formInfoPerso.nom, {'label' : 'Nom', 'attr' : {'placeholder' : "Entrer le nouveau nom"}})}}
              {{ form_row(formInfoPerso.prenom, {'label' : 'Prenom', 'attr' : {'placeholder' : "Entrer le nouveau prenom"}}) }}

              {{ form_end(formInfoPerso) }}
            </div>
            <div class="tab-pane fade" id="pwd">
              
              {{ form_start(formPassword) }}
              
              {{ form_row(formPassword.oldpassword, {'label' : 'Le mot de passe actuel', 'attr' : {'placeholder' : "Ecrire l'ancien mot de passe"}}) }}
              
              {{ form_end(formPassword) }}
              

              

            </div>
            <div class="tab-pane fade" id="pharmacie">

              <form>
                
                <div class="form-group">
                  <label for="nompharmacie" class="text-black">Nom pharmacie</label>
                  <input type="text" class="form-control" id="nompharmacie">
                </div>

                <div class="form-group">
                  <label for="adressepharmacie" class="text-black">Adresse pharmacie</label>
                  <input type="text" class="form-control" id="adressepharmacie">
                </div>

                <button type="button" class="btn btn-primary">Enregistrer</button>
              </form>
              </div>
          </div>
            
      </div>
    </div>
{% endblock %}