{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
      <div class="container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link {{ active_tab1 }}" data-toggle="tab" href="#liste">Liste des produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ active_tab2 }}" data-toggle="tab" href="#ajout">Ajouter des produits</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content"> 
            <div class="tab-pane fade {{ active_tab1 }}" id="liste">
              <h5 class="text-black">Catégories</h5>
                {{ form_start(form2) }}
                  {{ form_row(form2.categories, { 'attr' : {'class' : "text-black"} }) }}
                  <button class="btn btn-primary" type="submit">Appliquer</button>
                {{ form_end(form2) }}
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>PRIX_HT</th>
                        <th>PRIX_TVA</th>
                        <th>Quantité</th>
                        <th>Date d'expiration</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for products in page|reverse %}
                        <tr>
                            <th>{{ products.id }}</th>
                            <td>
                            <img src={{ asset('images/' ~ products.image) }} alt="Image" style="width: 120px;">                              
                              </td>
                            <td>{{ products.nom }}</td>
                            <td>{{ products.description }}</td>
                            <td>{{ products.PrixHt }}</td>
                            <td>{{ products.PrixTva }}</td>
                            <td>{{ products.quantite }}</td>
                            <td>{{ products.DateExpiration | date('d/m/Y') }}</td>
                            <td>
                                
                                <a href="{{ path('produit_show', {'id': products.id}) }}" class="btn btn-primary btn-sm d-block mb-1" style="width: 100px">Afficher</a>
                                <a href="{{ path('produit_edit', {'id': products.id}) }}" class="btn btn-warning btn-sm d-block mb-1" style="width: 100px">Modifier</a>
                                {{ include('proprietaire/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
                <div class:"navigation">
                {{ knp_pagination_render(page)}}
                </div> 
            </div>

            <div class="tab-pane fade {{ active_tab2 }}" id="ajout">
              
                {{ include('proprietaire/_form.html.twig') }}

          </div>
            
            
      </div>
    </div>
{% endblock %}