{% extends 'proprietaire/base.html.twig' %}
{% block title %}Stock{% endblock %}
{% block body %}
<div class="site-section">
      <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link {{ active_tab1 }}" data-toggle="tab" href="#liste">Liste des produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ active_tab2 }}" data-toggle="tab" href="#ajout">Ajouter des produits</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content"> 
            <div class="tab-pane fade {{ active_tab1 }}" id="liste">
              {% for message in app.flashes('success') %}
                  <div class="alert alert-success" role="success">
                      {{ message }}
                      </div>
              {% endfor %}
              {% for message in app.flashes('alert') %}
                  <center><div class="alert alert-danger" role="alert">
                      {{ message }}
                      </div></center>
              {% endfor %}

                
                {{ form_start(form2) }}
                
                <h5 class="text-black">Catégories</h5>
                <div class="d-inline-block mr-5" style="float: left">
                {{ form_row(form2.categories, { 'attr' : {'class' : "text-black"} }) }}
                </div>

                <div class="d-inline-block">
                {{ form_row(form2.expire, { 'attr' : {'class' : "text-black"} }) }}
                {{ form_row(form2.epuise, { 'attr' : {'class' : "text-black"} }) }}
                {{ form_row(form2.min.setRendered()) }}
                {{ form_row(form2.max.setRendered()) }}
                </div>
                
                
                <button class="btn btn-primary btn-block btn-sm" type="submit">Appliquer</button>
                {{ form_end(form2) }}


                <i class="fa my-3" style="font-weight:bold">{{ knp_pagination_sortable(page, 'Date d\'enregistrement', 'created_at')}}</i>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>{{ knp_pagination_sortable(page, 'Nom', 'nom')}}</th>
                        <th>{{ knp_pagination_sortable(page, 'Description', 'description')}}</th>
                        <th>{{ knp_pagination_sortable(page, 'PRIX_HT', 'prix_ht')}}</th>
                        <th>{{ knp_pagination_sortable(page, 'PRIX_TVA', 'prix_tva')}}</th>
                        <th>{{ knp_pagination_sortable(page, 'Quantité', 'quantite')}}</th>
                        <th>{{ knp_pagination_sortable(page, 'Date d\'expiration', 'DateExpiration')}}</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for products in page %}
                        <tr class={% if products.DateExpiration <= date() %}
                        "table-danger"
                        {% elseif products.quantite == 0 %}
                        "table-warning"
                          {% endif %}>
                            <td>
                            <img src={{ asset('images/' ~ products.image) }} alt="Image" style="width: 120px;">                              
                              </td>
                            <td>{{ products.nom }}</td>
                            <td>{{ products.description }}</td>
                            <td>{{ products.PrixHt }}</td>
                            <td>{{ products.PrixTva }}</td>
                            <td>{{ products.quantite }}</td>
                            <td>{{ products.DateExpiration | date('d/m/Y') }}</td>
                            <td>
                                
                                <a href="{{ path('produit_show', {'id': products.id}) }}" class="btn btn-primary btn-sm d-block mb-1" style="width: 100px">Afficher</a>
                                <a href="{{ path('produit_edit', {'id': products.id}) }}" class="btn btn-warning btn-sm d-block mb-1" style="width: 100px">Modifier</a>
                                {{ include('proprietaire/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
                <div class:"navigation">
                {{ knp_pagination_render(page)}}
                </div> 
            </div>

            <div class="tab-pane fade {{ active_tab2 }}" id="ajout">
              
                {{ include('proprietaire/_form.html.twig') }}

          </div>
            
            
      </div>
    </div>
{% endblock %}