{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
      <div class="container">

            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Client</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for vente in ventes|reverse %}
                        <tr>
                            <td>
                                <img src={{ asset('images/' ~ vente.produit.image) }} alt="Image" style="width: 120px;">
                            </td>
                            <td>{{ vente.produit.nom }}</td>
                            <td>{{ vente.commande.client.user.nom }}</td>
                            <td>{{ vente.quantite }}</td>
                            <td>{{ (vente.produit.prixtva + vente.produit.prixht) * vente.quantite }} Dhs</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm d-block" style="width: 100px">Afficher</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
      </div>
    </div>
{% endblock %}