{% extends 'proprietaire/base.html.twig' %}
{% block body %}
<div class="site-section">
    <div class="container">

        {{ form_start(form2) }}    
            {{ form_row(form2.categories.setRendered()) }}
            {{ form_row(form2.expire.setRendered()) }}
            {{ form_row(form2.epuise.setRendered()) }}
            {{ form_row(form2.min, { 'attr' : {'class' : "text-black"} }) }}
            {{ form_row(form2.max, { 'attr' : {'class' : "text-black"} }) }}
                           
            <button class="btn btn-primary btn-block btn-sm" type="submit">Appliquer</button>
        {{ form_end(form2) }}

<i class="fa fa-sort-desc" aria-hidden="true">{{ knp_pagination_sortable(page, 'Quantité', 'quantite')}}</i>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Client</th>
                    <th>Quantité</th>
                    <th>Prix Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ventes in page %}
                <tr>
                    <td>
                        <img src={{ asset('images/' ~ ventes.produit.image) }} alt="Image" style="width: 120px;">
                    </td>
                    <td>{{ ventes.produit.nom }}</td>
                    <td>{{ ventes.commande.client.user.nom }}</td>
                    <td>{{ ventes.quantite }}</td>
                    <td>{{ (ventes.produit.prixtva + ventes.produit.prixht) * ventes.quantite }} Dhs</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm d-block" style="width: 100px">Afficher</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class:"navigation">
            {{ knp_pagination_render(page)}}
        </div> 
    </div>
</div>
{% endblock %}