{{ form_start(form) }}
    {{ form_row(form.nom,  {'label_attr': {'class': 'text-black'}, 'attr' : {'placeholder' : "Nom de catégorie"}}) }}
    <button class="btn {{ btn_type|default('btn-primary') }} btn-sm" style="width: 135px">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
