{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="site-section">
    <div class="container">
      {% for message in app.flashes('success') %}
  <center>  <div class="alert alert-success alert-dismissible fade show" role="success">
        {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </div></center>
        {% endfor %}
        {% for message in app.flashes('alert') %}
  <center>  <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </div></center>
        {% endfor %}
        
    <a href="{{ path('categorie_new') }}" class="btn btn-outline-primary btn-sm">Ajouter une catégorie</a>
<br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in page %}
            <tr>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-warning btn-sm d-block mb-1" style="width: 100px">Modifier</a>
                    {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class:"navigation">
              {{ knp_pagination_render(page)}}
              </div>
    </div>
</div>    
{% endblock %}
